<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JavaWebCore</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- Filter config -->
	<filter>
		<filter-name>Filter05</filter-name>
		<filter-class>com.ddb.javaweb.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter05</filter-name>
		<servlet-name>MyLoginServletDemo</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>Filter01</filter-name>
		<filter-class>com.ddb.javaweb.filter.UserNameFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter01</filter-name>
		<servlet-name>MyLoginServletDemo</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>Filter03</filter-name>
		<filter-class>com.ddb.javaweb.filter.PasswordFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter03</filter-name>
		<servlet-name>MyLoginServletDemo</servlet-name>
	</filter-mapping>




	<servlet>
		<servlet-name>InitOrderDemo</servlet-name>
		<servlet-class>com.ddb.javaweb.servlet.InitOrderDemo</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitOrderDemo</servlet-name>
		<url-pattern>/servlet/InitOrderDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitOrderDemo2</servlet-name>
		<servlet-class>com.ddb.javaweb.servlet.InitOrderDemo2</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitOrderDemo2</servlet-name>
		<url-pattern>/servlet/InitOrderDemo2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitOrderDemo3</servlet-name>
		<servlet-class>com.ddb.javaweb.servlet.InitOrderDemo3</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitOrderDemo3</servlet-name>
		<url-pattern>/servlet/InitOrderDemo3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletDemo</servlet-name>
		<servlet-class>com.ddb.javaweb.servlet.ServletDemo</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDemo</servlet-name>
		<url-pattern>/servlet/ServletDemo</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>rri</param-name>
		<param-value>1223</param-value>
	</context-param>
	<servlet>
		<servlet-name>dbinit</servlet-name>
		<jsp-file>/WEB-INF/initDemo.jsp</jsp-file>
		<init-param>
			<param-name>driver</param-name>
			<param-value>org.gjt.mm.mysql.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/abcd</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbinit</servlet-name>
		<url-pattern>/config.abcd</url-pattern>
	</servlet-mapping>
</web-app>